@font-face{
    font-family: CutiveMono-Regular;
    src: url(../Fontes/CutiveMono-Regular.ttf);
}

@font-face{
    font-family: Quicksand-Regular;
    src: url(../Fontes/Quicksand-Regular.ttf);
}

@font-face{
    font-family: Montserrat-Regular;
    src: url(../Fontes/Montserrat-Regular.ttf);
}

.Logo-Nav{
    height: 50px;
}

.Persona-Link li a{
    font-size: 18px;
    margin-top: 2px;
    text-align: center;
}

.Persona-Link-Cor1{
    color: #0261b2 !important;
}

.Persona-Link-Cor2{
    color: #ff3229 !important;
}

#MenuPaginaPrincipal ul li {
    text-align: center;
}


.Borda-Bottom-Cor2{
    border-bottom: 4px solid #ff3229;
}

.Objetivo{
    text-align: center;
    background: #ffffff;
    padding-bottom: 0px;
}

.Objetivo-Imagem{
    margin-top: 23px;
}

.Objetivo-Titulo{
    font-family: CutiveMono-Regular;
    color: #ff3229;
}

.Objetivo-Texto{
    text-align: justify;
    font-size: 24px;
}

#Sessao-Funcionalidades{
    background: #ffffff;
    color: #0261b2;
    font-family: CutiveMono-Regular;
    padding-top: 0px;
}

.Alinhar-Centro{
    text-align: center;
}

.card{
    padding: 0;
}

.texto-card-persona{
    font-family: Quicksand-Regular;
    color: #333333;
    text-align: justify;
    font-size: 19px;
}

.persona-card-inicio{
    border: none;
}

.Borda-Listrada{
    height: 40px;
    background-image: url(../imgs/Borda.png);
    background-position: center;
    background-size: cover;
}

.Borda-Cor-1{
    border: 4px solid #0261b2;
}

.Borda-Cor-2{
    border: 4px solid #ff3229;
}

#Apresentacao-AVA{
    background-color: #FFF;
    padding-bottom: 10px;
}

.Apresentacao-AVA-Titulo{
    text-align: center;
    color: #0261b2;
    font-family: CutiveMono-Regular;
    height: 90px;
}

.Apresentacao-AVA-Fotos{
    margin: 0 auto;
    margin-top: 20px;
}

.Apresentacao-AVA-Fotos figure img{
    width: 100%;
    border-radius: 5px;
}

.Apresentacao-AVA-SubTitulo{
    font-family: Quicksand-Regular;
    padding: 10px;
}

.Apresentacao-AVA-Texto h3{
    color: #0261b2;
    font-family: CutiveMono-Regular;
    text-align: center;
    font-size: 35px;
}

.Apresentacao-AVA-Texto p{
    color: #000;
    text-align: justify;
}

.Titulo-Link-Cadastro{
    color: #0261b2;
    text-align: center;
    font-family: CutiveMono-Regular;
}

.btn-link-cadastro{
    background: #ff3229;
    font-size: 40px;
    color: #FFF;
    padding: 5px 50px;
}

.btn-link-cadastro:active, .btn-link-cadastro:focus{
    background: #ff3229 !important;
}

.btn-adpt-link{
    padding: 0px;
    margin: 0px;
    background: none;
    color: #ff3229;
    font-size: 18px;
    margin-top: 2px;
    text-align: center;
}

footer{
    background: #282828;
    padding: 20px 0px;
    border-top: 4px solid #0261b2;
    text-align: center;
}

footer p{
    margin-top: 13px;
    color: #ffffff;
    font-family: Quicksand-Regular;
}

.Logo-Footer{
    font-family: CutiveMono-Regular;
    color: #0261b2;
    font-size: 20px;
}

.Logo-Footer-Cor2{
    color: #ff3229;
}

.btn-adpt-link{
    padding: 0px;
    margin: 0px;
    background: none;
    color: #ff3229;
    font-size: 18px;
    margin-top: 9px;
    text-align: center;
    outline: 0;
    box-shadow: none;
    margin-right: 5px;
}

.btn-adpt-link:focus,.btn-adpt-link:active{
    outline: 0;
    box-shadow: none;
}

label{
    color: #0261b2;
}

.input-cadastro:focus{
}

#ModalDeCadastro, #ModalDeLogin{
    font-family: Quicksand-Regular;
}

.btn-cadastro, .btn-cadastro:focus, .btn-link-cadastro:active{
    background: #0261b2;
    color: #ffffff;
}

.btn-sair, .btn-sair:focus, .btn-sair:active{
    background: #ff3229;
    color: white;
}

.btn-confirmar, .btn-confirmar:focus, .btn-confirmar:active{
    background: #0261b2;
    color: white;
}

.Modal-Aluno{
    background: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #0261b2;
    margin-bottom: 10px;
}

.Modal-Aluno button{
    width: 100%;
}

.Modal-Aluno-Login{
    min-height: 110px;
}

.Modal-Padding{
    padding: 20px;
}

.Fonte-Modal-Principal{
    color: #0261b2;
    font-size: 30px;
    font-family: Quicksand-Regular;
}

.EspacoEntre{
    width: 5px;
}

#ModalLabelAluno, #ModalLabelProfessor{
    font-family: CutiveMono-Regular;
    font-size: 25px;
    color: #ff3229;
}

.btn-user-log button, .btn-user-log button:hover, .btn-user-log button:active, .btn-user-log button:focus{
    background: #FFF !important;
    border: none !important;
    color: #ff3229 !important;
    outline: 0 !important;
    box-shadow: none !important;
    font-size: 18px;
    padding-top: 0;
    padding-bottom: 0;
}

.ft-User-Drop{
    background-size: contain;
    width: 50px;
    height: 50px;
    margin: 0;
    border-radius: 100%;
    border: #ff3229 2px solid;
}

.ft-User-Drop img{
    width: 100%;
    background: none;
    border-radius: 100%;
}

.menu-user-adpt{
    margin-left: 10px;
}

.UI-User-Interna{
    min-width: 200px;
    margin: 0 auto;

}
.Turma-Log-Drop{
    color: #ff3229;
    margin-right: 4px;
}

.Principal-Conteudo{
    min-height: 600px;
    background-color: #f4f4f4;
    overflow: hidden;
}

.titulo-sessoes{
    color: #0261b2;
    font-family: Montserrat-Regular;
    text-align: center;
    margin-top: 70px;
}

.link-card-sessao{
    background: none;
    padding: 10px;
}


.link-card-sessao-in{
    background: none;
    padding: 10px;
    border-radius: 5px;
}

.link-card-sessao-in a:hover{
    text-decoration: none;
}

.link-card-sessao-in:hover{
    background: rgba(255,50,41,0.3);
    transition: linear 0.3s;
}

.link-card-sessao-in img{
    width: 100%;
}

.link-card-sessao-titulo{
    color: #0261b2;
    text-align: center;
    font-family: Montserrat-Regular;
    font-weight: bold;
}

.cards-link-grupo{
    margin-top: 40px;
}

.adpt-link-card-img{
    width: 250px;
    margin: 0 auto;
}

.Perfil-Config{
    width: 70%;
    border: 5px solid #ff3229;
    background: #0261b2;
    border-radius: 100%;
    margin: 0 auto;
    margin-top: 72px;
}

.Perfil-Config img{
    width: 100%;
    border-radius: 100%;
}

.AlterCaixa{
    margin-top: 30px;
}

.FotoConfigracaoCadast{
    height: 500px;
    border: 5px solid #ff3229;
    display: inline-block;
    margin: 0 auto;
}

.FotoConfigracaoCadast img{
    height: 100%;
}

.Card-Turma{
    margin-bottom: 40px;
}

.Card-Turma figure{
    width: 100%;
}

.Card-Turma figure img{
    width: 80%;
    margin: 0px auto;
}

.Card-Group-Turmas{
    margin-top: 40px;
    margin-bottom: 30px;
}

.Card-Turma-Status, .Card-Turma-Cod{
    text-align: center;
    margin: 0;
    color: #0261b2;
    font-family: Montserrat-Regular;
    font-weight: bold;
    font-size: 20px;
}

.Card-Turma-back{
    padding: 10px;
    border-radius: 5px;
}

.Card-Turma-back:hover{
    background: rgba(255,50,41,0.3);
    transition: linear 0.3s;
    text-decoration: none;
}

.Card-Turma-back a:hover{
    text-decoration: none;
}

.Ajuda-E-Controle-Turma{
    margin-top: 40px;
}

.Turma-Controle-Status {
    background: rgba(255,255,255,0.6);
    border: 2px solid #0261b2;
    border-radius: 5px;
    margin: 0;
}

.texto-controle{
    font-family: Montserrat-Regular;
    margin-top: 17px;
    margin-right: 10px;
    font-weight: bold;
}

.switch{
    margin-top: 13px;
}
/*Codigo de botão togle swich - autor - W3School*/

/* The switch - the box around the slider */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background: #00cc33;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  background: #ff3333;
}

.slider.round:before {
  border-radius: 50%;
}

/* Fim do codigo Toggle Swich */

.tabela-alunos{
    border: 2px solid #ff3229;
    background: #FFF;
}

.tabela-alunos tr td,.tabela-alunos tr th {
    border-color: #ff3229;
}

.tabela-modulo{
    border-color: #ff3229;
    width: 100%;
}

.tabela-modulo tr td, .tabela-modulo tr th{
    padding: 9px;
    border: 4px solid #ff3229;
    border-left: none;
    border-right: none;
    color: #ff3229;
}

.tabela-modulo tr td a{
    color: #ff3229;
    font-family: Montserrat-Regular;
    font-weight: bold;
    font-size: 20px;
}

.tabela-modulo tr td a:hover{
    text-decoration: none;
}

.tabela-modulo tr td:hover{
    background: rgba(2,97,178,0.1);
}

.modulo{
    min-height: 300px;
}

.modulo-icone{
    height: 300px;
}

.modulo-figure-icone{
    width: 100%;
    height: 100%;
    border: 4px solid #ff3229;
    border-radius: 10px;
}

.modulo-figure-icone img{
    height: 60%;
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: auto;
}

.modulo-titulo{
    color: #0261b2;
    font-family: Montserrat-Regular;
    font-weight: bold;
    font-size: 30px;
}

.Curso-descricao{
    text-align: justify;
    font-family: Montserrat-Regular;
}

.img-icon-curso{
    margin: auto 10px;
    height: 25px
}

.Video{
    width: 90%;
    margin: 0px auto;
    border: 4px solid #0261b2;
}

.coluna-ava{
    background: #FFF;
}

.DescricaoVideo{
    width: 90%;
    padding: 10px;
    text-align: justify;
    font-family: Montserrat-Regular;
    color: #333333;
    height: 390px;
    overflow : scroll;
}

.btn-curso-modulo-interno{
    background-color: #ff3229;
    color: #f4f4f4;
    font-size: 20px;
    font-family: Montserrat-Regular;
    padding: 10px;
    border-radius: 5px;
    display: block;
    text-align: center;
    margin: 0 auto;
}

.btn-curso-modulo-interno:hover{
    color: #FFF;
}

.DescricaoExercicio{
    color: #333333;
    text-align: center;
    font-family: Montserrat-Regular;
}

.Atividade-Interace{
    background-color: #FFF;
    border: 2px solid #0261b2;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 90%;
    border-radius: 5px;
    overflow: hidden;
}

.Atividade-Interace p{
    background: #e2e2e2;
    padding: 10px;
    border-bottom: 2px solid #0261b2;
}


.Atividade-Interace label{
    color: #0261b2;
}

.Atividade-Interace bold{
    font-weight: bold;
}

.form-atv{
    width: 100%;
}

.area-perguntas{
    padding: 10px;
    padding-top: 0;
}

.FotoQuestao img{
    border: 2px solid #0261b2;
    margin: 0 auto;
    width: 530px;
}

.referencia-video{
    font-weight: bold;
    font-size: 12px;
    font-family: Montserrat-Regular;
}

.conteudo-referencia{
    font-size: 12px;
    font-family: Montserrat-Regular;
}

.conteudo-referencia bold{
    font-weight: bold;
}

.btn-curso-modulo-interno-atv{
    background-color: #0261b2;
    color: #f4f4f4;
    font-size: 20px;
    font-family: Montserrat-Regular;
    padding: 10px;
    border-radius: 5px;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 100%;
}